App_WebReferences/SelectServiceReference/SelectService3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfReviewInfo">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ReviewInfo" nillable="true" type="tns:ReviewInfo" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfReviewInfo" nillable="true" type="tns:ArrayOfReviewInfo" />
  <xs:complexType name="ReviewInfo">
    <xs:sequence>
      <xs:element minOccurs="0" name="ArtistName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ShowDate" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ShowName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ShowTime" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="VenueName" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ReviewInfo" nillable="true" type="tns:ReviewInfo" />
</xs:schema>