App_WebReferences/VenueLoginServiceReference/VenueLoginService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="VenueLoginService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:1816/VenueLoginService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:1816/VenueLoginService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:1816/VenueLoginService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IVenueLoginService_VenueLogin_InputMessage">
    <wsdl:part name="parameters" element="tns:VenueLogin" />
  </wsdl:message>
  <wsdl:message name="IVenueLoginService_VenueLogin_OutputMessage">
    <wsdl:part name="parameters" element="tns:VenueLoginResponse" />
  </wsdl:message>
  <wsdl:message name="IVenueLoginService_VenueRegistration_InputMessage">
    <wsdl:part name="parameters" element="tns:VenueRegistration" />
  </wsdl:message>
  <wsdl:message name="IVenueLoginService_VenueRegistration_OutputMessage">
    <wsdl:part name="parameters" element="tns:VenueRegistrationResponse" />
  </wsdl:message>
  <wsdl:message name="IVenueLoginService_AddArtist_InputMessage">
    <wsdl:part name="parameters" element="tns:AddArtist" />
  </wsdl:message>
  <wsdl:message name="IVenueLoginService_AddArtist_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddArtistResponse" />
  </wsdl:message>
  <wsdl:message name="IVenueLoginService_AddShow_InputMessage">
    <wsdl:part name="parameters" element="tns:AddShow" />
  </wsdl:message>
  <wsdl:message name="IVenueLoginService_AddShow_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddShowResponse" />
  </wsdl:message>
  <wsdl:message name="IVenueLoginService_AddShowDetail_InputMessage">
    <wsdl:part name="parameters" element="tns:AddShowDetail" />
  </wsdl:message>
  <wsdl:message name="IVenueLoginService_AddShowDetail_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddShowDetailResponse" />
  </wsdl:message>
  <wsdl:message name="IVenueLoginService_FanLogin_InputMessage">
    <wsdl:part name="parameters" element="tns:FanLogin" />
  </wsdl:message>
  <wsdl:message name="IVenueLoginService_FanLogin_OutputMessage">
    <wsdl:part name="parameters" element="tns:FanLoginResponse" />
  </wsdl:message>
  <wsdl:message name="IVenueLoginService_FanRegistration_InputMessage">
    <wsdl:part name="parameters" element="tns:FanRegistration" />
  </wsdl:message>
  <wsdl:message name="IVenueLoginService_FanRegistration_OutputMessage">
    <wsdl:part name="parameters" element="tns:FanRegistrationResponse" />
  </wsdl:message>
  <wsdl:message name="IVenueLoginService_AddFanArtist_InputMessage">
    <wsdl:part name="parameters" element="tns:AddFanArtist" />
  </wsdl:message>
  <wsdl:message name="IVenueLoginService_AddFanArtist_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddFanArtistResponse" />
  </wsdl:message>
  <wsdl:portType name="IVenueLoginService">
    <wsdl:operation name="VenueLogin">
      <wsdl:input wsaw:Action="http://tempuri.org/IVenueLoginService/VenueLogin" message="tns:IVenueLoginService_VenueLogin_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IVenueLoginService/VenueLoginResponse" message="tns:IVenueLoginService_VenueLogin_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="VenueRegistration">
      <wsdl:input wsaw:Action="http://tempuri.org/IVenueLoginService/VenueRegistration" message="tns:IVenueLoginService_VenueRegistration_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IVenueLoginService/VenueRegistrationResponse" message="tns:IVenueLoginService_VenueRegistration_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddArtist">
      <wsdl:input wsaw:Action="http://tempuri.org/IVenueLoginService/AddArtist" message="tns:IVenueLoginService_AddArtist_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IVenueLoginService/AddArtistResponse" message="tns:IVenueLoginService_AddArtist_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddShow">
      <wsdl:input wsaw:Action="http://tempuri.org/IVenueLoginService/AddShow" message="tns:IVenueLoginService_AddShow_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IVenueLoginService/AddShowResponse" message="tns:IVenueLoginService_AddShow_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddShowDetail">
      <wsdl:input wsaw:Action="http://tempuri.org/IVenueLoginService/AddShowDetail" message="tns:IVenueLoginService_AddShowDetail_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IVenueLoginService/AddShowDetailResponse" message="tns:IVenueLoginService_AddShowDetail_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="FanLogin">
      <wsdl:input wsaw:Action="http://tempuri.org/IVenueLoginService/FanLogin" message="tns:IVenueLoginService_FanLogin_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IVenueLoginService/FanLoginResponse" message="tns:IVenueLoginService_FanLogin_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="FanRegistration">
      <wsdl:input wsaw:Action="http://tempuri.org/IVenueLoginService/FanRegistration" message="tns:IVenueLoginService_FanRegistration_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IVenueLoginService/FanRegistrationResponse" message="tns:IVenueLoginService_FanRegistration_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddFanArtist">
      <wsdl:input wsaw:Action="http://tempuri.org/IVenueLoginService/AddFanArtist" message="tns:IVenueLoginService_AddFanArtist_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IVenueLoginService/AddFanArtistResponse" message="tns:IVenueLoginService_AddFanArtist_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IVenueLoginService" type="tns:IVenueLoginService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="VenueLogin">
      <soap:operation soapAction="http://tempuri.org/IVenueLoginService/VenueLogin" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="VenueRegistration">
      <soap:operation soapAction="http://tempuri.org/IVenueLoginService/VenueRegistration" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddArtist">
      <soap:operation soapAction="http://tempuri.org/IVenueLoginService/AddArtist" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddShow">
      <soap:operation soapAction="http://tempuri.org/IVenueLoginService/AddShow" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddShowDetail">
      <soap:operation soapAction="http://tempuri.org/IVenueLoginService/AddShowDetail" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="FanLogin">
      <soap:operation soapAction="http://tempuri.org/IVenueLoginService/FanLogin" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="FanRegistration">
      <soap:operation soapAction="http://tempuri.org/IVenueLoginService/FanRegistration" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddFanArtist">
      <soap:operation soapAction="http://tempuri.org/IVenueLoginService/AddFanArtist" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="VenueLoginService">
    <wsdl:port name="BasicHttpBinding_IVenueLoginService" binding="tns:BasicHttpBinding_IVenueLoginService">
      <soap:address location="http://localhost:1816/VenueLoginService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>